/* CSS Variable Starts */

:root{
    --color-white: #FFFFFF;
    --color-dark-white: #F4F4F4;
    --color-paragraph: #777777;
    --color-large-heading: #1D1D1D;
    --color-medium-heading: #4A4A4A;
    --color-button: #289BDE;
    --color-footer: #161616;
    --color-footer-text: #E8E8E8;
    --color-bg-icon: #242424;
}

/* CSS Variable Ends */

/* General CSS Starts  */

body {
    font-family: 'Poppins', sans-serif;
}

.css-lg-heading {
    color: var(--color-large-heading);
    font-weight: 600;
    font-size: 45px;
}

.css-paragraph-color {
    color: var(--color-paragraph);
}

.css-button {
    color: var(--color-white);
    background-color: var(--color-button);
    padding: 15px 45px;
    font-weight: 600;
    font-size: 20px;
}

.css-register-btn {
    color: var(--color-button);
    background-color: var(--color-white);
    border: 1px solid var(--color-button);
    padding: 15px 45px;
    font-weight: 600;
    font-size: 20px;
}

.css-md-heading{
    color: var(--color-medium-heading);
    font-size: 20px;
}

.css-md-heading-color {
    color: var(--color-medium-heading);
    font-weight: 600;
    font-size: 25px;
}

.css-bg-blue {
    background-color: var(--color-button);
}

.css-color-dark-white {
    color: var(--color-dark-white);
}
.css-text-color-blue {
    color: var(--color-button);
    font-weight: 600;
}

.css-color-white {
    color: var(--color-white);
    font-weight: 600;
}

/* General CSS Ends */

/* Navigation Bar CSS Starts */


.css-nav li a {
    margin-right: 20px;
    color: var(--color-paragraph);
}

/* Navigation Bar CSS Ends */

/* Banner Image Slider CSS Starts */

.css-carousel img {
    filter: brightness(50%);
}

/* Banner Imgae Slider CSS Ends */

/* Student FeedBack Slider Arrow */

.css-slide-arrow{
    position: relative;
    font-size: 40px;
    top: -17rem;
    left: -1.2rem;
}

#left-arrow{
    color: #a5dcfc;
    float: left;
}

#right-arrow{
    color: #289BDE;;
    position: relative;
    right: -1.2rem;
    float: right;
}

/* Student FeedBack Slider Arrow */

/* Footer Section CSS Starts */
footer{
    background-color: var(--color-footer);
}

.css-social-icon i {
    font-size: 25px;
    margin: 0.50rem;
    background-color: var(--color-bg-icon);
    border-radius: 50%;
    padding: 10px;
    color: white;
}
/* Footer Section CSS Ends */